* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #e6f0eb;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 320px;
    padding: 12px;
    border-radius: 10px;
    background-color: #34c6f3;
    border: 3px solid #47a7c1;
}

/* MERK */
#merkCalculator {
    font-weight: bold;
    text-align: center;
    color: #c9f5dc;
    font-family: Verdana;
    margin-bottom: 10px;
}

/* DISPLAY */
.display {
    background-color: #c3e3ec;
    padding: 12px;
    text-align: right;
    font-size: 24px;
    font-family: courier;
    border-radius: 6px;
    border: 2px solid #47a7c1;
    margin-bottom: 10px;
}

#output {
    word-wrap: break-word;
}

/* ROW */
.frist-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    display: flex;
}

/* BUTTON */
button {
    flex: 1;
    height: 52px;
    border: 2px solid #47a7c1;
    background-color: #c3e3ec;
    font-size: 20px;
    font-weight: bold;
    color: #236d81;
}

/* BUTTON BESAR */
#r1-1,
#r5-1 {
    flex: 2;
}

/* JARAK ANTAR BARIS */
.frist-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    margin-bottom: 6px;
}

/* HOVER & ACTIVE */
button:hover {
    background-color: #c6ead9;
    cursor: pointer;
}

button:active {
    background-color: #9ad5e6;
}

